<div class="container-fluid">

  <div class="row first">

    <div class="col-sm-6 presentation1">
      <img src="./images/Fill 1.png" />
    </div>

    <div class="col-sm-6 presentation2">
      <div>
        <div>Discover the app where your projects meet their teams</div>
        <button class="home-button"> Get Started</button>
      </div>
    </div>
  </div>

  <div class="row second">
    <div class="col">
      <p class="teams">Teams created with projo</p>
    </div>
  </div>

  <div class="row third justify-content-between">
    <div class="col-sm-3">
      <img class="computer" src="./images/Oval Copy 2.png" />
    </div>
    <div class="col-sm-1 d-flex flex-column align-center justify-content-center">
      <img class="plus" src="./images/+.png" />
    </div>
      <div class="col-sm-7">
      <img class="people" src="./images/TRIO TEAM.png" />
    </div>
  </div>

  <div class="row fourth">
    <div class="col">
      <p class="testimony">"Pour mon appli j'ai trouvé un dévellopeur iOS et un graphiste"</p>
    </div>
  </div>

</div>