html,
body {
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header.myheader {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 130px;
  height: 58px;
 }

nav.mymenu {
  padding: 30px;
  background: radial-gradient(circle, #FFFFFF 0%, #F0F0F0 23.83%, #FFFFFF 100%); 
}

.mymenu > a {
  width: 100px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;	
  background: radial-gradient(circle, #529DF9 0%, #3348DA 100%);
  color: white;
  font-size: 21px;
  font-weight: 900;	
  line-height: 27px;
}

.row.first {
  background-image: radial-gradient(circle, #529DF9 0%, #3348DA 100%);	
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
  padding: 60px;
  min-height: 400px;
}

.presentation1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation2 {
  color: #fafafa;
  font-size: 41px;
}
button.home-button {
  width: 212px;	
  border-radius: 26.5px;	
  background: radial-gradient(circle, #FFFFFF 0%, #FFFFFF 100%);	
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  height: 41px;	
  color: #065DFF;	
  font-size: 33px;	
  font-weight: 300;	
  line-height: 41px;
}



img.people {
  display: inline-block;
}

.testimony {
  color: #065dff;
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.teams {
  font-size: 41px;
  font-weight: 300;
  line-height: 51px;
  color: #065DFF;	
  text-align: center;
}


footer.myfooter {
  border: 1px solid #979797;	
  background: radial-gradient(circle, #529DF9 0%, #3348DA 100%);	
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);	
  color: #FFFFFF;		
  font-size: 18px;	
  font-weight: 300;	
  line-height: 23px;	
  text-align: center;
  padding: 30px;
}